<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
</head>
<body>
    <form action="#" method="post">
        <label for="Usuari">Usuari: </label>
        <input type="text" name="user" id="">
        <br>
        <label for="pass">Contrasenya: </label>
        <input type="password" name="pass" id="">
        <br>
        <label for="pass2">Repetir Contrasenya: </label>
        <input type="password" name="pass2" id="">
        <br>
        <input type="submit" value="Registrar">
    </form>
    <a href="/">Logear</a>
</body>
</html>